<div id='page_wrapper'>
  <div id='profile_image'>
    <%= image_tag "profile.png"%>
  </div>

  <div id='content'>
    <h1>It's Mrs. Doggiee</h1>
    <p>Lorem ipsum dolor amet microdosing prism try-hard hashtag 
    banh mi tilde forage sustainable cloud bread activated charcoal 
    tumeric beard viral snackwave. Taiyaki everyday carry four loko, 
    ennui mumblecore four dollar toast typewriter. Gochujang aesthetic 
    green juice tilde intelligentsia fixie master cleanse franzen coloring 
    book bushwick thundercats. Fanny pack brooklyn brunch gastropub neutra 
    tote bag microdosing keffiyeh hexagon keytar man bun synth. Dreamcatcher 
    pok pok YOLO, try-hard pour-over helvetica photo booth selvage listicle banh mi +1 fam.</p>
  </div>
</div>