<% @posts.each do |post| %>
  <div class='post_wrapper'>
    <%= link_to post_path(post) do %>
      <h3 class='title'><%= post.title %></h3>
      <p class='body'><%= truncate(post.body, length: 30)%></p>
      <small class='date'>Submitted: <%= time_ago_in_words(post.created_at) %> ago</small>
    <% end %>  
  </div>
<% end %>