.title {
  text-align: center;
}

.list {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  margin: 0 20%;
}

.post {
  color: white;
  border: 1px solid grey;
  border-radius: 15px;
  text-align: center;
  margin: 10px 15px; 
  padding: 10px;
  background-color: grey;
}

.post a {
  text-decoration: none;
  color: white;
}